<div *ngIf="data.type === 'delete'">
  <h2 mat-dialog-title>DELETE DIRECT REPORT</h2>
  <mat-dialog-content>
    Permanently delete direct report {{data.employee.firstName}} {{data.employee.lastName}}?
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Ok</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>


<div *ngIf="data.type === 'update'">
  <mat-dialog-content>
    <h2 mat-dialog-title>UPDATE COMPENSATION</h2>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput
          type="text" 
          disabled
          value="{{data.employee.firstName}}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput
          type="text" 
          disabled
          value="{{data.employee.lastName}}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput
          type="text" 
          disabled
          value="{{data.employee.position}}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Compensation</mat-label>
        <input matInput
          type="text" 
          name="compensation"
          [(ngModel)]="compensation"
          value="{{data.employee.compensation || 0}}"
        />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button 
    mat-button 
    [mat-dialog-close]="true"
    (click)="saveCompensation(data.employee)"
    >
      Ok
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>