<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>
      {{employee.firstName}} {{employee.lastName}}, {{employee.position}}
    </mat-card-title>
    <mat-card-subtitle>
      Employee ID: {{employee.id}} 
      Direct Reports: {{totalReports}}
      <p *ngIf="employee.compensation" style="color: green">Compensation: ${{employee.compensation}}</p>
    </mat-card-subtitle>
    
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="report-list-header">
        Direct Reports:
      </mat-list-item>
      <mat-list-item
        *ngFor="let report of directReports"
        class="report-list-item"
      >
        {{report.firstName}} {{report.lastName}}, {{report.position}}
        <span class="buttons">
          <mat-icon
            (click)="openDialog('update', report)"
          >
            edit
          </mat-icon>
          <mat-icon
            (click)="openDialog('delete', report)"
          >
            delete
          </mat-icon>
        </span>
      </mat-list-item>
      <mat-list-item
        *ngIf="!directReports.length"
      >
        This employee has no reports
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
